/* .main {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  height: 360px;
  width: 280px;
  border-radius: 5px;
  border: 1px solid #666666;   
  padding: 0.5rem; 
} */