.login {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login__modal {
    background-color: #fff;
    height: 360px;
    width: 280px;
    border-radius: 5px;
    border: 1px solid #666666;   
    padding: 0.5rem;   
}
.login__title {
    color: #FFF;
    font-size: 24px;
    display: flex;
    font-family: var(--font-family);
    font-weight: 600; 
}


.login__modal--directions {
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}

.login__modal--form {
    color: #666666;
}
.login__modal--form--select-container {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 3rem; */
}

.select {
    font-family: var(--font-family);
    color: #666666;
    min-width: 10ch;
    max-width: 20ch;
    border: 1px solid #777;
    border-radius: 0.25em;
    padding: auto;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }
.login__modal--form--label {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
.login__modal--form--forgot {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: #666666;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    
}
.login__modal--form-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}
.login__modal--form--input {
    border: none;
    background: #F5F5F5;
    padding: 12px;
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
}

.login__modal--form--buttoncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    
}
.login__modal--form--button {
    color: #fff;
    /* border-radius: 3px; */
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    
}

.signin {
    background-color: #2148C0;
    
    
}
.signup {
    background-color: rgb(239, 6, 196);
}

.container {
    display: flex;
    width: 100%;
}
.fontawesome {
    width: 40px;
    background-color: #F5F5F5;
    display: grid;
    place-items: center; 
    color: #2148C0;
    
}

/* tablet  */
@media (max-width: 800px) {
    .login__modal {
        background-color: black;
        height: 360px;
        width: 400px;
        border-radius: 5px;
        border: 1px solid #666666;   
        padding: 0.5rem; 
       
    }

    }